<app-loader *ngIf="isLoading"></app-loader>

<a routerLink="/index">Revenir à l'index</a>

<form [formGroup]="fg" (ngSubmit)="submit()">
    <div>
        <input placeholder="Nom" type="text" formControlName="name">
        <app-form-error [control]="fg.get('name')"></app-form-error>
    </div>
    <div>
        <input placeholder="Prix" type="number" formControlName="price">
        <app-form-error [control]="fg.get('price')"></app-form-error>
    </div>
    <div>
        <button [disabled]="fg.invalid">Sauvegarder</button>
    </div>
</form>
