<div *ngIf="control && control.invalid && (control.touched || control.dirty) && !control.disabled">
    <p *ngIf="control.errors?.required">Ce champs est requis</p>
    <p *ngIf="control.errors?.maxlength">Le champs est trop long (max: {{ control.errors?.maxlength.requiredLength }})</p>
    <p *ngIf="control.errors?.minlength">Le champs est trop court (min: {{ control.errors?.minlength.requiredLength }})</p>
    <p *ngIf="control.errors?.min">La valeur est trop petite (min: {{ control.errors?.min.min }})</p>
    <p *ngIf="control.errors?.max">Le valeur est trop grande (min: {{ control.errors?.max.max }})</p>
</div>
