<app-loader *ngIf="isLoading"></app-loader>

<button routerLink="/add">Nouveau</button>

<table>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let item of products">
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency : 'EUR' }}</td>
        <td>
            <button [routerLink]="['/update', item.id]">Editer</button>
            <button  (click)="delete(item.id)">Supprimer</button>
        </td>
    </tr>
</table>
